<section class="seection">
  <div class="container">
    <div class="columns">
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>

<p id="notice"><%= notice %></p>

<h1>Tweeets</h1>


